body {
  background-image: url("../imagenes/fondo.jpg");

  background-size: cover;

  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

footer {
  margin-top: 300px;
  background-color: rgba(255, 255, 255, 0.932);
  width: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
}

img {
  padding: 20px;
  width: 200px;
}

img:hover {
  filter: drop-shadow(2px 2px 3px rgb(0, 0, 0));
}

h1 {
  font-size: 100px;
  color: white;
}